<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header id="header">
        <link rel="stylesheet" href="https://img.freepik.com/free-vector/bird-colorful-gradient-design-vector_343694-2506.jpg">
        <ul id="header-ul">
            <li id="header-li"><a href="/student/home"><p>home</p></a> </li>
            <li id="header-li"><a href="/student/form"><p>form</p></a> </li>
            <li id="header-li"><a href="/student/login"><p>login</p></a> </li>
            <li id="header-li"><a href="/student/signup"><p>signup</p></a> </li>
        </ul>
    </header>
   
    <h1>Home</h1>
</body>
</html>