<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <header>
      <ul>
          <li><a href="/student"><p>home</p></a> </li>
          <li><a href="/student/form"><p>form</p></a> </li>
          <li><a href="/student/login"><p>login</p></a> </li>
          <li><a href="/student/signup"><p>signup</p></a> </li>
      </ul>
  </header>
    <form id="form">
      <input type="text" id="name" placeholder="name" />
      <input type="number" id="number" placeholder="number" />
      <input type="text" id="course" placeholder="course" />
      <input type="number" id="grid" placeholder="grid" />
      <input type="text" id="city" placeholder="city" />
      <input type="submit" />
    </form>
  </body>
  <script src="/public/index.js"></script>
</html>